.App {
  text-align: center;
  background-color: powderblue;
}

.App-link {
  color: #61dafb;
}

input[type="text"] {
  border: 2px solid black;
  border-radius: 10px;

  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  margin: auto;
  color: black;
  font-weight: bold;
  display: block;
}

.pageHeading {
  color: royalblue;
}

h3 {
  color: mediumslateblue;
}

.container {
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
  text-align: center;
}
